.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
/.luarc.json
quarto-ieee.Rproj

IEEEtran.cls
README.html
#template_files/
#template.tex
#template.html
#template.pdf

examples/*.html
examples/*.pdf
examples/*.tex
examples/*_files/

/.quarto/
_freeze/
